 *{
    padding:0;
    margin: 0;
    box-sizing: border-box;
 }

 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 span,
 button,
 li {
    font-family: "Montserrat","sans-serif";
 }

 nav{
    display: flex;

    gap: 5px;
    position: fixed;
    top: 0;
   
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(17, 52, 72);
    padding: 1rem 3rem;
    
    z-index:100; 
 }

 nav img{
    height:2rem;
 }
 nav ul{
    display:flex;
    list-style: none;
    align-items: center;
    gap:1rem;
 }
 nav a{
    color: white;
    text-decoration: none;  
 }
 nav a:hover{
    color:#14bf98;
    transition: color 0.3s ease-in-out; 
 }
 
 nav ul .icon{
    cursor:pointer;
    background-color: #14bf98;
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
    padding: 0.75rem;
 }

 nav ul .icon:hover{
   background-color: white;
 }

 nav ul .icon:hover a{
    color: #14bf98;
}

.home {
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("./assets/header-background.jpg");
   
    min-height: 100vh;
    background-size: cover;  
    background-position: center;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  
  }
  .home h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 4rem;
  }
  
  .home p {
    font-size: 1.5rem;
    width: 60%;
    color: #dfe5ec;;
  }
  button {
    cursor: pointer;
    border: 1px solid #14bf98;
    background-color: #14bf98;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 5px;
  
    transition: all 0.5s ease-in-out;
    font-weight: 700;
    font-size: 0.75rem;
  }
  
  button:hover {
    background-color: transparent;
    
    color: #14bf98;
  }
 
  .intro{
   display: flex;
   justify-content: center;
   margin: 10vh 7vh;
  
   gap: 50px;
  }
  .intro div{
   height:50vh;
   width:500px;
   overflow:hidden;
  }
  .intro-content{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
  }
  .intro h5{
   text-transform: uppercase;
   color: #14bf98;
   font-weight: 500;
  }
 
   .intro div img{
      width:100%;
      height:85%;
     
      object-fit: cover;
      border-radius: 5px;
      transition: transform 0.3s ease-in-out;
   }
   .intro div img:hover{
      transform: scale(1.2);
   }

   .sub-intro{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 10vh 7vh;
   }
   .sub-intro>div{
      /* width: 300px; */
      width: 200px;
   }

.hexagon{
   position: relative;
}
   .hexagon>img{
      height: 100px;
      width:100px;
   }
   
   .hexagon>i{
      position:absolute;
      top:33px;
      left:33px;
      font-size:30px;
      color:white;
   }
  
   .services h3,h6{
      text-decoration: uppercase;
      color: #14bf98;
      font-weight: 500;
      text-align: center;
   }
 
   .services h3{
      color: #484a46;
      font-weight: 800;
   }

   .services .service-list-container{
      display:flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }
   .services .service-list-container .service-item {
        width: 20%; 
        border:1px solid rgba(0, 0, 0, 0.125);
        margin-bottom: 100px;
        border-radius: 6px;
   }
  
   .services .service-list-container .service-item img {
     
      width: 100%;  /* Added missing semicolon */
      height: 15rem;
      /* image is distorted bcz of dimension adjustment thats why using object fit */
      object-fit: cover;
      object-position: center;
  }
  .services .service-list-container .service-item h4 {
   margin: 10px;
   font-size: 1rem;
   text-align: center;
   color: #484a46;
   font-weight: 800;
}

.services .service-list-container .service-item p {
   margin: 10px;
   text-align: center;
  
   color: #484a46;
  
}

.services .service-list-container .service-item ul {
   margin: 10px;
   text-align: center;
  
   line-height: 2rem;
   color: #484a46;

   list-style: none;
   
}

.services .service-list-container .service-item ul li:before{
 
content: "\25a0";
color: #14bf98;

margin-right: 5px;
}
.services .service-list-container .service-item h6 {
   font-weight: 900;
   color: #484a46;
}
.services .service-list-container .service-item h6 .price{
   color: #14bf98;
}
.services .service-list-container .service-item button{
  
   position: relative;
   left:50%;
   transform: translate(-50%,50%);
}
.services .portion{
 
   display: flex;
}
.services .portion img{
   width: 50%;
   height: 30rem;

}
.services .portion .content{
   width: 50%;
   height: 30rem;
   text-align: center;
  
   padding-top: 10%;
   
}
.content h2{
   width: 73%;
   height: auto;
   line-height: 2.5rem;
}
.content .info {
  
   
   height: 50px;
   width: 450px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 70px;
   
}
 .content .info:hover .circle{
   cursor: pointer;
   color: #14bf98;
   border-color: #14bf98;
   transition: background-color 0.3s, transform 0.3s;
} 
.content .info .circle{ 
   
   width:40px;
   height:40px;
   border: 2px solid #484a46;;
   border-radius: 50%;
   padding: 0.56rem;
}
.content .info .circle:hover {
   cursor: pointer;
   color: #14bf98;
   transform: scale(1.1);
   border-color: #14bf98;
}
.content .info .camp{
   opacity: 0;
}
.content .info .circle .number:hover {
   cursor: pointer;
   
   transform: scale(1.1);
   border-color: #14bf98;
}
.content .info .related-heading span:hover {
   cursor: pointer;
   color: #14bf98;
   transform: scale(1.1);
   border-color: #14bf98;
}

.content .info .related-heading span{
   color: #484a46;
   font-weight: 700;
   font-size: 1.2rem;
}
.content .info .circle .number{
   font-weight: 700;
}
.content .pointer{
   /* border: 2px solid red; */
  width:70%; 
 
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-left: 105px;
  font-weight: 800;
  color: #c7c8c6;

}
.content .pointer span:before{
   content: "\f00a";
   color: #484a46;
    
}
.content .pointer span:hover{
   cursor: pointer;
   color: #14bf98;
}
.new-container{

   display:flex;
   flex-direction: column;
   text-align: left;
  margin-left: 50px;
  margin-right: 40px;
}
.new-container h3{
   text-align: left;
}
.new-container .c1{
   width: 100%;
   height: 1.5rem;
   background-color: #14bf98;
   border-radius: 3.5px;
}
.new-container .c2{
   width: 76%;
   height: 1.5rem;
   background-color: #14bf98;
   border-radius: 3.5px;
}
.new-container .c3{
   width: 90%;
   height: 1.5rem;
   background-color: #14bf98;
   border-radius: 3.5px;
}
.new-container a{
   color: #14bf98;
}
.services .testimonials{
  
   width: 45%;
   
   margin: 5rem auto;
}
.services .testimonials p{
   
   text-align: center;

   margin: 2rem 0;
}
.services .testimonials .testimonial-list-container{
   display:flex;
   gap:3rem;
   overflow-x: auto;  
}
.services .testimonials .testimonial-list-container .testimonial-item{

   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}

.section-title {
   color:#14bf98;
   
 }
 
 .call_me{
  
   padding: 5rem 20vh;
   background-color: #113448 ;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 
 .call_me .content, .call_me .form{
   color: white;
   width: 45%;
  
   flex-grow: 0;
   flex-shrink: 0;
 }
 
 .call_me .content h3{
   font-size: 1.5rem;
   font-weight: 800;
 }
 
 .call_me .content p{
   line-height: 1.5rem;
   color: black;
 }
 
 .call_me .content ul{
   padding: 0;
   
   list-style: none;
 }

 .call_me .content ul li:before{
   
   content: '\25a0';
   color: #14bf98;
   margin-right: 5px;
   font-size: 1.25rem;
 }
 
 .underline{
   text-decoration: underline;
   cursor: pointer;
 }
 
 .call_me form{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   
 }

 .call_me form .terms_container label{
   color: lightgray;
 }

 .call_me .form input, .call_me select{
   
   background-color: #2a5d77;
  
   color: white;
   padding: 0.75rem 1.5rem;
   border-radius: 5px;
   border: 1px solid black;
 }
 .call_me .section-title{
  
   color: #14bf98;
 }
 #emphasis{
   color: #dfe5ec;
 }
 .projects .section-title{
   margin-top: 100px;
   text-align: center;
   color: #14bf98;
 }
 .projects h2{
   text-align: center;
 }
.top-menu {
   display: flex;
   justify-content: center;
   text-align: center;
   gap: 10px;
   height: 2rem;
}
.top-menu button{
   width: auto;
   text-align: center;
   height:auto;
   padding-top: 7px;
}
.projects .img-container-grid{
   /* width:80%; */
   display: grid;
   grid-template-columns: repeat(4, 2fr);
   margin-left: 80px;
   margin-right: 80px;
   grid-row-gap: 0; 
   grid-column-gap: 0;
   border: 1px solid black; 

}

.grid-item {
   position: relative; 
   overflow: hidden; /* Hide overflow content */
}

.grid-item img {
   width: 100%; /* Make images responsive */
   height: auto; 
   display: block; /* Remove extra space below images */
   transition: transform 0.5s ease, filter 0.5s ease; /* Smooth transition effect for transform and filter */
}

.grid-item:hover img {
   filter: brightness(1.4); /* Darken the image on hover */
   transform: scale(1.1); /* Zoom in the image on hover */
}

.grid-item .text {
   position: absolute; /* Absolute positioning relative to the container */
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
   color: white; /* Text color */
   display: flex; /* Center the text */
   justify-content: center; /* Center the text horizontally */
   align-items: center; /* Center the text vertically */
   opacity: 0; /* Hide text by default */
   transition: opacity 0.5s ease; /* Smooth transition effect */
   font-size: 1.6rem;
   font-weight: 800;
}

.grid-item:hover .text {
   opacity: 1; /* Show text on hover */
}
.team h2{
   padding: 20px;
   text-align: center;
}
.team p{
   text-align: center;
}
.team .team-member-list-container{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.team .team-member-list-container .team-member-item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.team .team-member-item img{
   width: 100%;
   border-radius: 5px;
   object-fit: cover;
   object-position: center;
   transition: transform 0.5s ease;
 }
.team .team-member-list-container .team-member-item p{
   color: #787976;
   line-height: 1.5rem;
}

.team .team-member-item:hover img{
   transform: scale(1.18); /* Zoom in the image on hover */
}
.team .team-member-item {
   /* border: 2px solid red; */
   width: 200px;
   overflow: hidden;
 }
 .team{
   background-color: #f3f8f3;
   height: 85vh;
   
 }
 .team .team-member-list-container{
   
   height: 70vh;
 }
 .team .team-member-list-container .team-member-item {
  
   height: 55vh;
 }
.team .team-member-item h5{
   color: #484a46;
   font-size: 0.9rem;
   font-weight: 800;
 }
 
 .team .team-member-item .social-links span{
   background-color: #14bf98;
   padding: 0.75rem;
   cursor: pointer;
   clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
 }
 
 .team .team-member-item .social-links span:hover{
   background-color: #ffffff;
   color: #14bf98;
 }
 .about{
   display: flex;
   flex-wrap: wrap;
   margin: 10vh 7vw;
   justify-content: space-around;
 }
 
 
 .about>div{
   width: 500px;
 }
 .about .about-content h6{
   text-align: start;
 }
 .about-content>h6, .contact>div>h6{
   color: #14bf98;
   text-transform:uppercase;
   font-weight: 500;
 
 }
 
 .about-content>h2, .contact>div>h2{
   color: #484a46;
   margin-top: -10px;
 }
 
 .about-content>p, .contact>div>p, .contact>div>.location, .contact>div>.contacts{
   color: #787976;
   line-height: 1.5rem;
 }
 
 .about-content>ul{
   list-style: none;
   line-height: 1.8rem;
   
 }
 
 .about-content>ul>li{
   position: relative;
   color: #787976;
   padding-left: 19px;
 }
 
 .about-content>ul>li:before{
   padding-left: 16px;
   content: "◼";
   color: #12bf98;
   position: absolute;
   left: -16px;
   bottom: 1px;
   
 }
 
 .about-feedback{
   display: flex;
   justify-content: space-between;
 }
 
 .about-feedback>div>h1{
   color: #12bf98;
   font-size: 45px;
 }
 
 .about-feedback>div>div>p{
   color: #787976;
   margin-left: 8px;
 }
 
 .about-feedback>div{
   display: flex;
   align-items: center;
   line-height: 18.4px;
 }
 
 .contact{
   margin: 10vh 7vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
 }
 .contact .contact-details h6{
   text-align: start;
 }
 .contact .contact-details h2{
   font-size: 1.7rem;
 }
 .contact-form, .contact-details{
   width: 500px;
 }
 
 .icons{
   color: #12bf98;
 }
 
 .contacts>span{
   text-decoration: underline;
 }
 
 .location,.contacts{
   margin-top: 10px;
 }
 
 
 .hexagon-group{
   display: flex;
   justify-content: flex-start;
 
 }
 .contact .hexagon{
   background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg);
   background-position: center;
   background-repeat: no-repeat;
   width: 50px;
   height: 50px;
   margin: 2vh 0px;
   margin-left: 8px;
  transform: opacity 3s ease-in-out;
  
 }
 
 .contact .hexagon>i{
   position: absolute;
   left: 12px;
   top: 12px;
   font-size: 1.5rem;
 }
 .hexagon-group .hexagon:hover {
   opacity: 0.5;
   
 }

 .contact-form input[type="text"],input[type="email"]
 ,textarea
 {
   outline: none;
   border: 1px solid #dadada;
   border-radius: 0.25rem;
   background-color: #fff;
   color: #787976;
   width: 100%;
   display: block;
   padding: 0.8rem 1rem;
   margin: 1rem 0px;
 }
 
 .checkbox{
   display: inline;
 }
 
 .contact-form span{
   color: #787976;
   font-size: 0.8rem;
 }
 
 .contact-form button{
   width: 100%;
   margin-top: 1.5rem;
 }
 
 .contact-form>form>span>span{
   text-decoration: underline;
 }
 
 
 footer{
   display: flex;
   justify-content: space-between;
   background-color:  #113448;
   padding: 5vh 7vw;
   color: #dfe5ec;
 }
 footer a{
   text-decoration: none;
   color: #dfe5ec;
   display: block;
   text-decoration: underline;
   line-height: 1.9rem;
 }
 
 footer>div:nth-child(1){
   width: 50%;
   height: 25vh;
 }
 .lastimage{
   display: flex;
   text-align: center;
   justify-content: center;
 }